.login{

    margin:1px;
    padding:1px;
    width:50%;

}

.login input{

    width:100%;
    margin:3px;
    padding:3px;
    height:35px;


}
.login button{

    margin:10px;
    padding:10px;


}